/* 
config for LRP
*/

//process {
//    executor = 'slurm'
//    clusterOptions = '-A sensXX'
//}

// singularity or docker
process {
    withName:pytor {
        container='quay.io/biocontainers/cnvpytor:1.2.1--pyhdfd78af_0'
    }
    withName:query {
        container='shub://J35P312/SVDB'
    }
    withName:combine {
        container
    }
    withName:bcf_snv{
        container='quay.io/biocontainers/bcftools'
    }
    withName:align {
        container='quay.io/biocontainers/minimap2:2.24--h7132678_1'
    }
    withName:sniff {
        container='quay.io/biocontainers/sniffles:1.0.12--h8b12597_1'
    }
    withName:picard {
        container=''
    }
    withName:fastqc {
        container=''
    }
    withName:run_vep {
        container:'quay.io/biocontainers/ensembl-vep:107.0--pl5321h4a94de4_0'
    }
}

//alt change to docker
singularity {
    enabled = true
    autoMounts = true
} 

params {
    //input fq files
    fastq_folder = ""
    fast5_folder = ""

    sample_id = ""

    config=""
    

    // sequencing method
    style= "" //check that one of the following [ont OR pb == map-ont OR map-pb, pacbio-ccs OR ont, ]

    //working directory
    working_dir=""
    

    output = ""
    logfile='output/logfile.txt'
    
    //reference file
    ref=""

    //vep
    vep_path =''
    vep_args='--cache --dir $VEP_CACHE --offline  --vcf --assembly GRCh37 --per_gene --format vcf --no_stats'

    pb_DB=""
    ont_DB=""

}