/* 
config for LRP
*/

//process {
//    executor = 'slurm'
//    clusterOptions = '-A sensXX'
//}

// singularity
process {
    withName:pytor {
        container=''
    }
    
    withName:meth_polish {
        container=''
    }
}

params {
    //input fq files
    folder = ""

    sample_id = ""

    // sequencing method
    style= "" //check that one of the following [ont OR pb == map-ont OR map-pb, pacbio-ccs OR ont, ]

    //working directory
    working_dir=""

    output = ""
    
    //reference files
    ref=""

    //vep
    vep_path =''
    vep_args='--cache --dir $VEP_CACHE --offline  --vcf --assembly GRCh37 --per_gene --format vcf --no_stats'

}