/* 
config for LRP
*/

process {
    executor = 'slurm'
    clusterOptions = '-A sensXX'
}

// singularity
singularity {
    enabled = true
    autoMounts = true
}

process {
    withName:align {
        beforeScript = 'module load bioinfo-tools samtools minimap2'
        cpus = 16
        time = '16h'
    }
    withName:annotate_snvs {
        beforeScript = 'module load bioinfo-tools vep'
        cpus = 4
        time = '8h'
    }

    withName:bam2fastq {
        cpus = 8
        time = '20h'
        beforeScript = 'module load bioinfo-tools samtools'
    }


    withName:bamindex {
        cpus = 8
        time = '2h'
    }

    withName:bcf_snv {
        beforeScript = 'module load bioinfo-tools bcftools'
        cpus = 8
        time = '22h'
    }

    withName:cat {
        cpus = 2
        time = '5h'
}

    withName:combine {
        container='/proj/sensXX/nobackup/containers/svdb_2.8.1--py27h4329609_0.sif'
        cpus = 2
        time = '3h'
    }

    withName:fastqc {
        cpus = 16
        time = '2h'
    }

    withName:filter_snvs {
        beforeScript = 'module load bioinfo-tools bcftools'
        cpus = 8
       	time = '22h'
    }

    withName:filter_query {
        cpus = 2
        time = '3h'
    }

    withName:MDTag {
        cpus= 8
        beforeScript = 'module load bioinfo-tools samtools'
        time = '3h'
    }

    withName:meth_index {
        cpus = 16
        time = '22h'
        container = '/proj/sensXX/nobackup/containers/nanopolish_0.14.0--hb24e783_1.sif'
    }

    withName:meth_polish {
        beforeScript = 'module load hdf5'
        cpus = 16
        time = '42h'
        container = '/proj/sensXX/nobackup/containers/nanopolish_0.14.0--hb24e783_1.sif'
    }

    withName:call_meth {
        beforeScript = 'module load hdf5'
        cpus = 16
        time = '42h'
        //container = '/proj/sensXX/nobackup/containers/nanopolish_0.14.0--hb24e783_1.sif'
    }
    

    withName:run_vep {
        beforeScript = 'module load bioinfo-tools vep'
        cpus = 4
        time = '4h'
    }


    withName:pytor {
        container='/proj/sensXX/nobackup/containers/cnvpytor_latest.sif'
        cpus = 8
        time = '6h'
    }

    withName:query {
        container='/proj/sensXX/nobackup/containers/svdb_2.8.1--py27h4329609_0.sif'
        cpus = 2
        time = '3h'
    }

     withName:phase_it {
        container='/proj/sensXX/nobackup/containers/whatshap_1.7--py310h30d9df9_0.sif'
        cpus = 8
        time = '16h'
    }

    withName:picard {
        beforeScript = 'module load bioinfo-tools picard'
        cpus = 2
        time = '8h'
    }

    withName:cpg_tools {
        container='/proj/sensXX/nobackup/containers/pb-cpgtool_latest.sif'
        cpus = 16
        time = '16h'
    }

    withName:sniff {
        beforeScript = 'module load bioinfo-tools Sniffles'
        cpus = 16
        time = '16h'
    }

}

params {
    //input fq files
    input = ""


    // sequencing method
    style= "" //check that one of the following [ont OR pb == map-ont OR map-pb, pacbio-ccs OR ont, ]

    file=""

    //working directory
    LOMPE_home="$PWD"

    output = ""

    config =""
    logfile='trace.txt'
    
    //reference files
    ref='/proj/sensXX/reference_files/pacbio_hg38.fa'

    //vep
    vep_path ='vep'
    vep_args='--cache --dir $VEP_CACHE --offline  --vcf --assembly GRCh38 --per_gene --format vcf --no_stats'

    ont_DB='""'
    pb_DB='""'
}