/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kristinebilgrav/LOMPE Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/



profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 16
        executor.memory        = 60.GB
    }
   
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'



// process specific parameters and containers
process {
    withName:align {
        container='docker://quay.io/biocontainers/minimap2:2.24--h7132678_1'
        cpus = 16
        time = '16h'
    }

    withName:annotate_snvs {
        cpus = 4
        time = '3h'
        container:'docker://quay.io/biocontainers/ensembl-vep:108.2--pl5321h4a94de4_0'
    }

    withName:bam2fastq {
        cpus = 8
        time = '13h'
        container = 'samtools'
    }

    withName:bamindex {
        cpus = 8
        time = '2h'
        container = 'samtools'
    }
    withName:bcf_snv {
        container='docker://quay.io/biocontainers/bcftools'
        cpus = 8
        time = '22h'
    }

    withName:call_meth {
        beforeScript = 'export HDF5_PLUGIN_PATH=/usr/local/hdf5/lib/plugin'
        cpus = 16
        time = '42h'
        //container = 'docker://quay.io/biocontainers/nanopolish'
    }

    withName:cat {
        cpus = 2
        time = '2h'
    }

    withName:combine {
        container='shub://J35P312/SVDB'
        cpus = 2
        time = '3h'
    }

    withName:cpg_tools {
        container='kristinebilgrav/pb-cpgtool:latest'
        cpus = 16
        time = '16h'
    }

    withName: deepvar {
        container='docker://google/deepvariant:"1.5.0"'
        cpus=16
        time='10d'
    }

    withName:fastqc {
        container=''
        cpus = 16
        time = '10h'
    }

    withName:filter_snvs {
        container='docker://quay.io/biocontainers/bcftools'
        cpus = 4
        time = '12h'
    }

    withName:filter_query {
        cpus = 2
        time = '3h'
    }

    withName:meth_index {
        cpus = 16
        time = '22h'
        container = 'docker://quay.io/biocontainers/nanopolish'
    }

    withName:meth_polish {
        beforeScript = 'module load hdf5'
        cpus = 16
        time = '42h'
        container = 'docker://quay.io/biocontainers/nanopolish'
    }
    withName:modbam2bed	{ 
        container = 'docker://kristinebilgrav/modbam2bed:latest'
       	time = '10h'
       	cpus = 2
    }

    withName:phase_it {
        container='docker://quay.io/biocontainers/whatshap:1.7--py310h30d9df9_0'
        cpus = 8
        time = '16h'        
    }
    
    withName:picard {
        container=''
        cpus = 2
        time = '2h'
    }

    withName:pytor {
        container='dockere://quay.io/biocontainers/cnvpytor:1.2.1--pyhdfd78af_0'
        cpus = 8
        time = '5h'
    } 

    withName:query {
        container='shub://J35P312/SVDB'
        cpus = 2
        time = '3h'
    }

    withName: run_vep {
        container:'docker://quay.io/biocontainers/ensembl-vep:108.2--pl5321h4a94de4_0'
        cpus = 4
        time = '4h'
    }
    
    withName:sniff {
        container='docker://quay.io/biocontainers/sniffles:1.0.12--h8b12597_1'
        cpus = 16
        time = '5h'
    }


}



params {

    //input
    input = null

    output =null

    // sequencing method
    style= null

    file = null

    //working directory
    LOMPE_home=""
    
    //reference file
    ref="/Users/krsaet/Desktop/git/FT_testing/human_g1k_v37_decoy.fasta"

    //vep
    vep_args='--cache --dir $VEP_CACHE --offline  --assembly GRCh38 --per_gene --format vcf --no_stats'

    pb_DB=""
    ont_DB=""


}